Repository GrinZero/magic-design: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx stylelint --fix

.lintstagedrc:

{
	"*.{js,jsx,ts,tsx}": [
		"npx prettier --write"
	],
	"*.{css,less,scss}": [
		"npx prettier --write",
		"npx stylelint --fix"
	],
	"*.{json,md}": [
		"npx prettier --write"
	]
}

ci: add husky for eslint
  .lintstagedrc
Due: none

chore: change eslint
  .eslintignore
  .eslintrc.js
Due: npx prettier --write

test: for eslint
  .eslintrc.js
  .vscode/settings.json
  src/components/swiper/vertical-swiper/VerticalSwiper.tsx
Due: npx prettier --write

feat: start the swiper
  .lintstagedrc
  .prettierrc
  .storybook/main.js
  .vscode/settings.json
  src/components/swiper/index.tsx
  src/components/swiper/swiper-item/SwiperItem.tsx
  src/components/swiper/types.tsx
  src/components/swiper/vertical-swiper/VerticalSwiper.scss
  src/components/swiper/vertical-swiper/VerticalSwiper.tsx
  src/stories/swiper/vertical-swiper.stories.mdx
Due: npx prettier --write, npx stylelint --fix

chore: prettier change
  .prettierrc
  src/components/swiper/vertical-swiper/VerticalSwiper.tsx
Due: npx prettier --write

chore: storybook can run but now can not use alias
  .eslintignore
  .eslintrc.js
  .prettierrc
  .storybook/main.js
  .vscode/settings.json
  src/App.tsx
  src/assets/images/stories/swiperBanner1.png
  src/assets/images/stories/swiperBanner2.png
  src/assets/images/stories/swiperBanner3.png
  src/components/swiper/corner-swiper/CornerSwiper.module.scss
  src/components/swiper/corner-swiper/CornerSwiper.tsx
  src/components/swiper/index.tsx
  src/components/swiper/swiper-item/SwiperItem.tsx
  src/components/swiper/types.tsx
  src/components/swiper/vertical-swiper/VerticalSwiper.tsx
  src/hooks/useTouchMove.tsx
  src/main.tsx
  src/pages/corner-swiper/CornerSwiperIndex.tsx
  src/stories/swiper/Button.tsx
  src/stories/swiper/corner-swiper.stories.mdx
  src/stories/swiper/vertical-swiper.stories.mdx
  src/types/component.tsx
  src/types/index.tsx
  tailwind.config.js
  tsconfig.json
  vite.config.ts
Due: npx prettier --write, npx stylelint --fix

chore: config the alias for storybook;
  .storybook/main.js
  package.json
  pnpm-lock.yaml
  src/pages/corner-swiper/CornerSwiperIndex.tsx
Due: npx prettier --write

feat: 完成部分cornswiper
  src/components/swiper/corner-swiper/CornerSwiper.module.scss
  src/components/swiper/corner-swiper/CornerSwiper.tsx
  src/components/swiper/swiper-item/SwiperItem.tsx
  src/components/swiper/types.tsx
  src/pages/corner-swiper/CornerSwiperIndex.module.scss
  src/pages/corner-swiper/CornerSwiperIndex.tsx
  src/stories/swiper/Button.tsx
  src/stories/swiper/corner-swiper.stories.mdx
Due: npx prettier --write, npx stylelint --fix

feat: corner-swiper 50%
  src/components/swiper/corner-swiper/CornerSwiper.module.scss
  src/components/swiper/corner-swiper/CornerSwiper.tsx
Due: npx prettier --write, npx stylelint --fix

feat: corner-swiper 70%
  src/components/swiper/corner-swiper/CornerSwiper.module.scss
  src/components/swiper/corner-swiper/CornerSwiper.tsx
  src/components/swiper/swiper-item/SwiperItem.tsx
  src/pages/corner-swiper/CornerSwiperIndex.module.scss
  src/pages/corner-swiper/CornerSwiperIndex.tsx
Due: npx prettier --write, npx stylelint --fix

feat: save the corner-swiper
  .lintstagedrc
  .vscode/settings.json
  src/components/swiper/corner-swiper/CornerSwiper.module.scss
  src/components/swiper/corner-swiper/CornerSwiper.tsx
  src/pages/corner-swiper/CornerSwiperIndex.tsx
  src/stories/swiper/corner-swiper.stories.mdx
Due: npx prettier --write, npx stylelint --fix

feat: add weather components
  .eslintrc.js
  .vscode/settings.json
  src/components/index.tsx
  src/components/weather/Weather.module.scss
  src/components/weather/Weather.tsx
  src/components/weather/cloudy/Cloudy.module.scss
  src/components/weather/cloudy/Cloudy.tsx
  src/components/weather/index.tsx
  src/components/weather/nighty/Nighty.module.scss
  src/components/weather/nighty/Nighty.tsx
  src/components/weather/rainy/Rainy.module.scss
  src/components/weather/rainy/Rainy.tsx
  src/components/weather/snowy/Snowy.module.scss
  src/components/weather/snowy/Snowy.tsx
  src/components/weather/sunny/Sunny.module.scss
  src/components/weather/sunny/Sunny.tsx
  src/pages/corner-swiper/CornerSwiperIndex.module.scss
  src/pages/corner-swiper/CornerSwiperIndex.tsx
  src/stories/swiper/corner-swiper.stories.mdx
  src/stories/weather/weather.stories.mdx
Due: npx prettier --write, npx stylelint --fix

feat: add animate for weather
  .storybook/app.scss
  .storybook/preview.js
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/weather/Weather.module.scss
  src/components/weather/Weather.tsx
  src/components/weather/rainy/Rainy.module.scss
  src/main.tsx
  src/stories/weather/weather.stories.mdx
  vite.config.ts
Due: npx prettier --write, npx stylelint --fix

fix: base;
  .gitignore
  .npmignore
  .npmrc
  .vscode/settings.json
  package.json
Due: npx prettier --write

chore: finish some build
  package-lock.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: npx prettier --write

fix: chore bug
  .npmignore
  .stackblitzrc
  README.md
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: npx prettier --write

fix: delete dist from package.json
  base.json
  package.json
Due: npx prettier --write

chore: base.todo
  base.todo
Due: none

fix: all lint bug
  .eslintrc.js
  .gitignore
  .npmrc
  package-lock.json
  package.json
  src/.App.tsx
  src/.Routes.tsx
  src/.main.tsx
  src/App.tsx
  src/components/weather/Weather.tsx
  src/hooks/index.tsx
  src/main.tsx
  vite.config.ts
Due: npx prettier --write
